{
    "presets": [
      "env",
      "react"
    ],
    "plugins": [
      [
        "transform-runtime",
        "transform-react-jsx", 
        { "pragma":"preact.h" }
      ]
    ]
  }