.DS_Store
.idea
.github
.gitignore
.npmignore
.babelrc
*.log


node_modules
package-lock.json
*.lock

src
test
docs
index.html
postcss.config.js
webpack.config.js
webpack.dev.config.js