.valine {
  * {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Mirages Custom', 'Merriweather', 'Open Sans', "Segoe UI", Roboto, "PingFang SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
    line-height: 1.42857143;
    color: #555;
    transition: all .3s ease;
  }
  .vwrap {
    .textarea-wrapper {
      margin-bottom: 1rem;
      textarea {
        color: #4b5b62;
        width: 100%;
        background: #fafdff;
        border: .1rem solid #edf4f8;
        border-radius: .2rem;
        padding: .6rem .8rem;
        min-height: 10em;
        resize: none;
        &:focus {
          border-color: #c4c8cb;
          outline: 0
        }
      }
    }

    .auth-section {
      display: flex;
      display: -ms-flexbox;

      .input-wrapper {
        -ms-flex: 1 1 27%;
        flex: 1 1 27%;
        padding-right: 1rem;
        width: 27%;
        line-height: 2.4rem;
        margin: 0 0 1rem;

        input {
          color: #4b5b62;
          background: #fafdff;
          border: .1rem solid #edf4f8;
          border-radius: .2rem;
          padding: .6rem .8rem;
          line-height: 2.2;
          &:focus {
            border-color: #c4c8cb;
            outline: 0
          }
        }
      }

      input {
        width: 100%
      }

      .post-action {
        -ms-flex: 1 1 19%;
        flex: 1 1 19%;
        line-height: 2.4rem;
        margin: 0 0 1rem;
        button {
          width: 100%;
          line-height: 2.2;
          font-weight: bolder;
        }
      }
      @media screen and(max-width: 640px) {
        display: block;
        .input-wrapper, .post-action{
          -ms-flex: 1 1 100%;
          flex: 1 1 100%;
          padding-right: 0;
          width: 100%
        }
      }
    }

    .vmark {
      position: absolute;
      background: rgba(0, 0, 0, .65);
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      .valert {
        padding: 15px 0;
        .vtext {
          color: #fff;
          padding: 15px;
        }
        .vcode {
          width: 75px;
          border-radius: 5px;
          background: #dedede;
          &:focus {
            border-color: #3090e4;
            background-color: #fff;
          }
        }
      }
      @media screen and(max-width: 720px) {
        .valert {
          padding: 30px 0;
          .vtext {
            color: #fff;
            padding: 10px;
          }
        }
      }
    }
  }
  .info {
    font-size: 0;
    padding: 5px;
    .col {
      font-size: 1.5rem;
      display: inline-block;
      width: 50%;
      vertical-align: middle;
    }
    .count {
    }
  }
  .power {
    color: #999;
  }
  a {
    text-decoration: none;
    color: #3eb0ef;
    &:hover {
      // color: #3eb0ef;
    }
  }
  ul,
  li {
    list-style: none;
  }
  .txt-center {
    text-align: center;
  }
  .txt-right {
    text-align: right;
  }
  .pd5 {
    padding: 5px;
  }
  .pd10 {
    padding: 10px;
  }

  .vinput {
    padding: .6rem .8rem;
    background: #f4f8fb;
    border: .1rem solid #eee;
    border-radius: .2rem;
  }
  .vbtn {
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #33b1ff;
    border: .1rem solid #33b1ff;
    border-radius: .2rem;
    color: #fff;
    padding: .6rem 3rem;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
    outline: none;
    min-width: 60px;
    max-width: 100%;
    & + .vbtn {
      margin-left: 20px;
    }
  }
  .vbtn:active,
  .vbtn:hover {
    border-color: #33b1ff;
  }
  .vlist {
    // border-top: 1px solid #dedede;
    // border-bottom: 1px solid #dedede;
    padding: 0;
    .vcard {
      display: flex;
      display: -ms-flexbox;
      margin-top: 2rem;
      // padding: 8px 0;
      // &+.vcard {
      //     border-top: 1px solid #dedede;
      // }
      .vavatar {
        margin-right: 1.5rem;
        margin-top: 0.1em;
        display: inline-block;
        height: 4rem;
        width: 4rem;
        position: relative;
        border-radius: 50%;
      }
      .vhead {
        line-height: 1;
        a {
          font-weight: bolder;
          font-size: 1.5rem;
          color: rgba(0, 0, 0, .7);
        }
        .spacer {
          color: #ccc;
          margin-left: 1rem;
          margin-right: 1rem;
        }
        .vtime {
          color: #a9a4a4;
          display: inline-block;
          padding: 0 5px;
        }
      }
      .vcomment {
        word-wrap: break-word;
        white-space: pre-wrap;
        word-break: break-all;
        text-align: justify;
        line-height: 1.8;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        pre.code {
          overflow: auto;
        }
      }
      .vat {
        color: #33b1ff;
        margin-top: 1rem;
        cursor: pointer;
      }
      .vat:hover {
        color: #005e99;
      }
    }
    .vempty {
      padding: 20px;
      text-align: center;
      color: #999;
    }
  }
  /************ Loading ************/
  .spinner {
    margin: 10px auto;
    width: 50px;
    height: 30px;
    text-align: center;
    font-size: 10px;
  }
  .spinner > div {
    background-color: #9c9c9c;
    height: 100%;
    width: 6px;
    margin-right: 3px;
    display: inline-block;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  .spinner .r2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  .spinner .r3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  .spinner .r4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  .spinner .r5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  @-webkit-keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      -webkit-transform: scaleY(0.4)
    }
    20% {
      -webkit-transform: scaleY(1.0)
    }
  }
  @keyframes sk-stretchdelay {
    0%,
    40%,
    100% {
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }
    20% {
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }
}
