.valine {
    * {
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, 'Mirages Custom', 'Merriweather', 'Open Sans', "Segoe UI", Roboto, "PingFang SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", Helvetica, Arial, sans-serif;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        transition: all .3s ease;
    }
    .vwrap {
        border: 1px solid #dedede;
        border-radius: 4px;
        margin-bottom: 10px;
        overflow: hidden;
        position: relative;
        .vcontrol {
            background: #fbfbfb;
            font-size: 0;
            .vident {
                font-size: 14px;
                width: 85%;
                display: inline-block;
                padding: 5px;
                vertical-align: middle;
                .vinput {
                    width: 33%;
                }
            }
            .vright {
                font-size: 14px;
                padding: 5px;
                display: inline-block;
                width: 15%;
                text-align: right;
                vertical-align: middle;
            }
            @media screen and (max-width:520px) {
                .vident {
                    width: 70%;
                    .vinput {
                        width: 80%;
                    }
                }
                .vright {
                    width: 30%;
                }
            }
            input {
                background: transparent;
            }
        }
        .vmark {
            position: absolute;
            background: rgba(0, 0, 0, .65);
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            .valert {
                padding: 15px 0;
                .vtext {
                    color: #fff;
                    padding: 15px;
                }
                .vcode {
                    width: 75px;
                    border-radius: 5px;
                    background: #dedede;
                    &:focus {
                        border-color: #3090e4;
                        background-color: #fff;
                    }
                }
            }
            @media screen and(max-width:720px) {
                .valert {
                    padding: 30px 0;
                    .vtext {
                        color: #fff;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .info {
        font-size: 0;
        padding: 5px;
        .col {
            font-size: 14px;
            display: inline-block;
            width: 50%;
            vertical-align: middle;
        }
        .count {}
    }
    .power {
        color: #999;
    }
    a {
        text-decoration: none;
        color: #555;
        &:hover {
            color: #222;
        }
    }
    ul,
    li {
        list-style: none;
    }
    .txt-center {
        text-align: center;
    }
    .txt-right {
        text-align: right;
    }
    .pd5 {
        padding: 5px;
    }
    .pd10 {
        padding: 10px;
    }
    .veditor {
        width: 100%;
        height: 80px;
    }
    .vinput {
        border: none;
        resize: none;
        outline: none;
        padding: 8px 10px;
        max-width: 100%;
    }
    .vbtn {
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 8px 10px;
        font-size: 14px;
        line-height: 1.42857143;
        border-radius: 4px;
        user-select: none;
        outline: none;
        min-width: 60px;
        max-width: 100%;
        &+.vbtn {
            margin-left: 20px;
        }
    }
    .vbtn:active,
    .vbtn:hover {
        color: #3090e4;
        border-color: #3090e4;
        background-color: #fff;
    }
    .vlist {
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        padding: 0 10px;
        .vcard {
            padding: 8px 0;
            &+.vcard {
                border-top: 1px solid #dedede;
            }
            .vhead {
                a {
                    font-size: 18px;
                    font-weight: 300;
                }
                .vtime {
                    font-size: 12px;
                    color: #a9a4a4;
                    display: inline-block;
                    padding: 0 5px;
                }
                .vat {
                    font-size: 14px;
                    color: #999;
                    display: inline-block;
                    padding: 0 5px;
                    cursor: pointer;
                }
                .vat:hover {
                    color: #111;
                }
            }
            .vcomment {
                word-wrap: break-word;
                white-space: pre-wrap;
                word-break: break-all;
                text-align: justify;
                line-height: 1.8;
                pre,
                .code {
                    overflow: auto;
                }
            }
        }
        .vempty {
            padding: 20px;
            text-align: center;
            color: #999;
        }
    }
    /************ Loading ************/
    .spinner {
        margin: 10px auto;
        width: 50px;
        height: 30px;
        text-align: center;
        font-size: 10px;
    }
    .spinner>div {
        background-color: #9c9c9c;
        height: 100%;
        width: 6px;
        margin-right: 3px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }
    .spinner .r2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }
    .spinner .r3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }
    .spinner .r4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }
    .spinner .r5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }
    @-webkit-keyframes sk-stretchdelay {
        0%,
        40%,
        100% {
            -webkit-transform: scaleY(0.4)
        }
        20% {
            -webkit-transform: scaleY(1.0)
        }
    }
    @keyframes sk-stretchdelay {
        0%,
        40%,
        100% {
            transform: scaleY(0.4);
            -webkit-transform: scaleY(0.4);
        }
        20% {
            transform: scaleY(1.0);
            -webkit-transform: scaleY(1.0);
        }
    }
}